

    <title>Lifestyle Store</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >

    <!--jQuery library--> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <!--Latest compiled and minified JavaScript--> 
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
   
    <div>
        <div class="banner-image">
            <div class="container">
           
                <div class="banner_content" align="center">
                    <h1>We sell lifestyle.</h1>
                    <p>Flat 40% OFF on premium brands</p> 
                    <button class="btn btn-danger
                    btn-lg active" (click)="redirect()">Shop Now</button>  
                </div>
            
            </div>
             
        </div>
        <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <button type="submit" (click)="redirect()"><a href="products.php#cameras" ><div class="thumbnail">
                                <img src="/assets/images/camera2.jpeg/" alt="hii" height="340" width="380">
                                <div class="caption">
                                    <h3>Cameras</h3>
                                    <p>Choose among the best available in the world.</p>
                                </div>
                            </div> 
                        </a>
                    </button>
                    </div>
    
                    <div class="col-sm-4">
                        <button type="submit" (click)="redirect()"><a  ><div class="thumbnail">
                                <img src="/assets/images/watch.jpeg/" alt="" height="320" width="320">
                                <div class="caption">
                                    <h3>Watches</h3>
                                    <p>Original watches from the best brands.</p>
                                </div>
                            </div> 
                        </a>
                    </button>
                    </div>
    
                    <div class="col-sm-4">
                        <button type="submit" (click)="redirect()"><a  ><div class="thumbnail">
                                <img src="/assets/images/shirt.jpeg/" alt="">
                                <div class="caption">
                                    <h3>Shirts</h3>
                                    <p>Our exquisite collection of shirts.</p>
                                </div>
                            </div>
                        </a>
                    </button>
                    </div>
                </div>
            </div>
        <footer>
            <div class="container">
                
                 <p align="center">Copyright © Lifestyle Store. All Rights
                Reserved | Contact Us: +91 90000 00000”. </p>
               
            </div>    
        </footer>

   